/*  covers entire document */
.wrapper {
	position: relative;
	min-height: 100%;
}

/* covers the header */
.header-bar {
	height: 60px;
	padding-top:15px;
	overflow: hidden;
}

.box{
background-color:#f7f7f7;
  	width:200px;
  	height:175px;
  	padding:15px;
  	display:block;
  	-moz-box-shadow:    0px 3px 3px 3px #ccc;
  	-webkit-box-shadow: 0px 3px 3px 3px #ccc;
  	box-shadow:         0px 3px 3px 3px #EBEBEB;
	margin-left: auto;
  	margin-right: auto;
}

.hh2 {
    color: #555555;
    font-family: 'Open Sans',arial;
    font-size: 18px;
    font-weight: 400;
}

.top_image img { 
margin:0 auto; 
}

/* FIU logo */
.logo {
	margin: 17px 0 0;
	float: left;
}
